# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Node
node_modules/

# OS
.DS_Store
*.pem
